option_settings:
  aws:elasticbeanstalk:application:environment:
    BUNDLE_WITHOUT: "test:development"
    RACK_ENV: ""
    RAILS_ENV: ""
    RAILS_MASTER_KEY: ""
    SECRET_KEY_BASE: ""
    RAILS_SKIP_ASSET_COMPILATION: false
    RAILS_SKIP_MIGRATIONS: true
    LOGGING: debug
    RDS_DB_NAME: ""
    RDS_USERNAME: ""
    RDS_PASSWORD: ""
    RDS_HOSTNAME: ""
    RDS_PORT: ""