<h2><%= t("editing_item") %></h2>
<div class="btn-group" role="group" aria-label="">
  <%= link_to t("show"), @item, {class: "btn btn-secondary"} %>
  <%= link_to t("back"), items_path, {class: "btn btn-secondary"} %>
</div>

<hr/>

<%= render 'form', item: @item %>
